body {
  background-color: var(--cinza-fundo);
}
.logo {
  margin: 60px 0;
  text-align: center;
}
.logo a {
  color: #000;
}
.link__navegation ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}
.link__navegation ul li {
  padding: 15px 30px;
  border-radius: 4px;
  background-color: #fff;
}
.link__navegation ul li a {
  color: #000;
  font-weight: bold;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1024px;
  margin: 0 auto 0 auto;
}

/*Config Information*/
.infos {
  background-color: #fff;
  text-align: right;
  position: relative;
}
.infos h1 {
  margin: 80px 20px 20px 60px;
}
.infos p {
  margin-right: 20px;
  padding: 0 0 20px 80px;
  line-height: 1.3;
}
.detalhe {
  width: 60px;
  height: 4px;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: -31px;
  background-color: var(--vermelho);
}
.infos a {
  margin-right: 20px;
  padding: 15px 30px;
  border-radius: 4px;
  color: #fff;
  background-color: var(--vermelho);
}

/*benefits*/
.benefits h2 {
  font-size: 64px;
  padding: 40px;
  text-align: right;
  font-weight: bold;
  align-self: center;
  color: var(--cinza-texto);
}

/*benefits__infos*/

.benefits__infos {
  background-color: #fff;
  padding: 20px;
}
.benefits__description {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}
.benefits__description p {
  grid-column: 2;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  height: 100px;
  text-align: center;
  background-color: #fff;
}
